.list-item {
    border-bottom: 1px solid gainsboro;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    user-select: none;
    cursor: pointer;
}
.header-item {
    background-color: lightgray;
    font-weight: bold;
    cursor: default;
}
.categories {
    max-width: 300px;
    min-width: 200px;
    overflow-y: scroll;
    max-height: 100vh;
}
.separator {
    min-height: 100%;
    min-width: 1px;
    background-color: gray;
}
.mainview {
    display: flex;
    flex-direction: row;
}
.offview {
    position: absolute;
    top: 0;
    right: 10px;
    max-width: 250px;
}
.selected-item {
    background-color: #3daee9;
    color: white;
}
